footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $secondary-background-color;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $desktop) {
    flex-direction: row;
  }
}

.footer-socials {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: row;
  }

  @media screen and (min-width: $desktop) {
  }
}

.container-footer {
  display: inline-block;
  text-align: center;
  margin-bottom: 60px;

  &:not(:last-child) {
    @media screen and (min-width: $tablet) {
      margin-right: 165px;
    }

    @media screen and (min-width: $desktop) {
      margin-right: 70px;
    }
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 0px;
    text-align: start;
  }
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
  width: 100%;

  @media screen and (min-width: $desktop) {
    margin-left: auto;
    align-items: flex-start;
    width: 570px;
  }
}

li .address {
  color: $bottom-contacts-text-color;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address-item {
  @extend %list;
  padding-bottom: 0px;

  &:not(:last-child) {
    padding-bottom: 9px;
  }
}

.social-list.footer {
  margin: 0;
}

li .primary {
  color: $white-color;
}

.social-link.footer {
  fill: $white-color;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  &:hover,
  &:focus {
    background: $accent-color;
  }
}

.footer-call {
  margin-bottom: 20px;

  text-transform: uppercase;
  @include font(700);

  color: $white-color;
}

.subscribe-icon {
  margin-left: 10px;
  fill: $white-color;
}

.footer-list {
  @extend %list;
}
