.form-title {
  display: block;
  margin-bottom: 12px;
  text-align: center;

  @include font(700, 20px, 1.15);
  // font-weight: 700;
  // font-size: 20px;
  // line-height: 1.15;
  // letter-spacing: 0.03em;

  color: $title-text-color;
}

.form-field {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  /* outline: 1px solid teal; */
  text-align: start;

  &.textarea {
    margin-bottom: 20px;
  }

  label {
    margin-bottom: 4px;
  }

  input {
    box-sizing: border-box;
    height: 40px;
    padding-left: 42px;

    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
  }

  .footer-input {
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding-left: 16px;

    background: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: $white-color;
  }

  &.footer {
    display: flex;
    flex-direction: row;
  }
}

textarea {
  box-sizing: border-box;
  height: 120px;
  resize: none;
  padding: 12px 16px;

  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  font-family: roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;

  &:focus {
    outline: transparent;
    border-color: $accent-color;
    transition: border-color $timing-function;
  }
}

.form-label {
  @include font(400, 12px, 1.17, 0.01em);
  // font-weight: 400;
  // font-size: 12px;
  // line-height: 1.17;
  // letter-spacing: 0.01em;

  color: $primary-text-color;
  cursor: pointer;
}

.label {
  cursor: pointer;
}

.form-field textarea::placeholder {
  @include font($letter-spacing: 0.03em);
  // font-weight: 400;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form-icon {
  display: inline-block;
  position: absolute;
  left: 12px;
  bottom: 11px;
  transition: fill $timing-function;

  .form-input:focus ~ & {
    fill: $accent-color;
  }
}

.form-input:focus {
  outline: transparent;
  border-color: $accent-color;
  transition: border-color $timing-function;
}
