.list.projects {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
}

.projects a {
  color: $primary-text-color;
  transition: $timing-function;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.project {
  box-sizing: border-box;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;

  background-color: $white-color;

  &:nth-child(3n) {
    margin-right: 0px;
  }
}

.work-title {
  @extend %title;
  margin-bottom: 4px;
  text-align: left;

  @include font(700, 18px, 2, 0.06em);
  // font-weight: 700;
  // font-size: 18px;
  // line-height: 2;
  // letter-spacing: 0.06em;
}
.project-description {
  margin-top: 0px;
  margin-bottom: 0px;

  font-size: 16px;
  line-height: 1.87;
}

.section.portfolio {
  padding-top: 94px;
  padding-bottom: 64px;
}

.portfolio-description {
  padding: 20px 24px;

  background-color: $white-color;
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  border-left: 1px solid $border-color;
}

.image-content {
  position: relative;
  overflow: hidden;
}

.image-text {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(100%);
  transition: $timing-function;

  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 63px 24px;
  overflow: hidden;

  background: rgba(33, 150, 243, 0.9);
  color: $white-color;
  @include font(400, 18px, 1.56);
  // font-weight: 400;
  // font-size: 18px;
  // line-height: 1.56;
  // letter-spacing: 0.03em;

  .projects a:hover &,
  .projects a:focus & {
    opacity: 1;
    transform: translateY(0);
  }
}
