html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: $white-color;
  color: $primary-text-color;
  font-family: roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h2,
h3 {
  margin-top: 0px;
  color: $title-text-color;
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
}

.section-title {
  @extend %title;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  @media screen and (max-width: $desktop - 1px) {
    margin-bottom: 30px;
    font-size: 28px;
  }
}
